In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#store csv into dataframe.
df_cab = pd.read_csv('Resources/carlisting.csv')
df_weather = pd.read_csv('Resources/carlisting_weather.csv')
df_car_listing = pd.read_csv('Resources/carlisting_weather_grouped.csv')

In [3]:
engine = create_engine("postgresql://postgres:9012@Hunt@localhost/Project 2")
connection = engine.connect()

In [4]:
df_car_listing.to_sql(name='carlisting_weather_grouped', con=connection, if_exists='append', index=False)

In [5]:
#load dataframe into database
df_cab.to_sql(name='carlisting', con=connection, if_exists='append', index=False)

In [6]:
df_weather.to_sql(name='carlisting_weather', con=connection, if_exists='append', index=False)

In [9]:
#confirm data
pd.read_sql_query('select * from carlisting_weather_grouped', con=connection).head()

,Unnamed: 0,date,num_of_listing,avg_price,avg_temp,avg_rain,avg_humidity
0,0,2018-12-13,1256,9737.0,39.369733,0.072744,0.768717
1,1,2018-12-14,635,10909.0,38.728596,0.068275,0.753656
2,2,2018-12-15,387,9007.0,39.032753,0.099985,0.766264
3,3,2018-12-16,569,9766.0,39.052143,0.041430,0.755969

In [11]:
#confirm data
pd.read_sql_query('select * from carlisting', con=engine).head()

,Unnamed: 0,date,Title,Price,Links
0,0,2018-12-16,"Assorted cars, trucks and planes",1,https://boston.craigslist.org/nos/tag/d/readin...
1,1,2018-12-16,"05 fordMINT! 200hp TAURUS""sel!"" 2 to choose!",1595,https://boston.craigslist.org/gbs/cto/d/medfor...
2,2,2018-12-16,2007 VOLVO s80 loaded! ma. inspected! +LOW M...,2975,https://boston.craigslist.org/gbs/cto/d/medfor...
3,3,2018-12-16,2002 1 owner HONDA! loaded se xmas gift!!!,1595,https://boston.craigslist.org/gbs/cto/d/barre-...
4,4,2018-12-16,IROC Camaro Parts 1986 HAVE 2 OTHER PARTS CARS,0,https://boston.craigslist.org/bmw/pts/d/iroc-c...

In [10]:
#confirm data
pd.read_sql_query('select * from carlisting_weather', con=engine).head()

,Unnamed: 0,date,Title,Price,Links,avg_temp,avg_rain,avg_humidity
0,0,2018-12-16,"Assorted cars, trucks and planes",1,https://boston.craigslist.org/nos/tag/d/readin...,39.052143,0.04143,0.755969
1,1,2018-12-16,"05 fordMINT! 200hp TAURUS""sel!"" 2 to choose!",1595,https://boston.craigslist.org/gbs/cto/d/medfor...,39.052143,0.04143,0.755969
2,2,2018-12-16,2007 VOLVO s80 loaded! ma. inspected! +LOW M...,2975,https://boston.craigslist.org/gbs/cto/d/medfor...,39.052143,0.04143,0.755969
3,3,2018-12-16,2002 1 owner HONDA! loaded se xmas gift!!!,1595,https://boston.craigslist.org/gbs/cto/d/barre-...,39.052143,0.04143,0.755969
4,4,2018-12-16,IROC Camaro Parts 1986 HAVE 2 OTHER PARTS CARS,0,https://boston.craigslist.org/bmw/pts/d/iroc-c...,39.052143,0.04143,0.755969